name: Sync

on:
  push:
    branches: [ main ]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Missions
        uses: actions/checkout@v2
        with:
          path: source
      - name: Checkout Sync
        uses: actions/checkout@v2
        with:
          path: sync
          ref: sync
      - name: Clean Sync
        run: rm -rf sync/*
      - name: Run Packer
        run: |
          cd source/.github/packer
          cargo run -- ../../ ../../../sync
      - name: Add Files
        run: |
          git config --local user.email "hello@synixe.contractors"
          git config --local user.name "SynixeBrodsky"
          git add .
          git commit -m "Sync Missions"
          git push
        working-directory: sync
        continue-on-error: true
