name: Sync

on:
  push:
    branches: [ main ]

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Missions
        uses: actions/checkout@v2
        with:
          path: source
      - name: Checkout Sync
        uses: actions/checkout@v2
        with:
          path: sync
          ref: sync
      - name: Clean Sync
        run: rm -rf sync/*
      - name: Copy Company
        run: |
          cp -r source/company/* sync/
      - name: Copy Contracts
        run: |
          cp -r source/contracts/* sync/
      # - name: Copy Specials
      #   run: |
      #     cp -r source/specials/* sync/
      # - name: Copy Theatres
      #   run: |
      #     cp -r source/theatres/* sync/
      - name: Generate Missions
        run: |
          python3 source/.github/scripts/generate.py source sync
      - name: Add Files
        run: |
          git config --local user.email "hello@synixe.contractors"
          git config --local user.name "SynixeBrodsky"
          git add .
          git commit -m "Sync Missions"
          git push
        working-directory: sync
        on-failure: continue
