name: Generator

on:
  push:
    branches: [ main ]

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cargo run
      - run: zip -rj missions.zip output/*
      - uses: actions/upload-artifact@v2
        with:
          name: missions.zip
          path: 'missions.zip'
